@import '../js/node_modules/styledot/scss/main';

body {
	background-color: $gray1;
}

.outer-container {
	width: 65%;
	margin-left: auto;
	margin-right: auto;
}

.sd-card {
	&.sd-card-white {
		background-color: $white;	
	}
}

.hide {
	display: none;
}

.playlist-section {
	background-color: $gray1;
	margin-top: 24px;
}

.playlist-elem-wrapper {
	padding: 8px;
	margin: 8px 24px 8px 24px;

	.playlist-elem {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		.play {
			width: 16px;
		}
	}
}
